.footer {
    margin-top: 20px;
    bottom: 0;

    &__text {
        font-size: 0.875rem;
        font-weight: 600;
    }

    &__links {
        list-style-type: none;
        display: flex;
        align-items: center;

        &-item {
            margin-right: 1rem;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }
}