.footer {
    /* background-color: #990000;
    color: #FFEE63; */
    padding: 1rem 2rem;
    margin-top: 10px;
    bottom: 0;
}

.footer__text {
    font-size: 0.875rem;
    font-weight: 600;
}

.footer__links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.footer__links-item {
    margin-right: 1rem;
}

.footer__links-item img {
    width: 24px;
    height: 24px;
}