.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
}

.navbar-list {
    display: flex;
    list-style: none;
}

.navbar-item {
    margin-left: 1rem;
}