@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@700&family=Old+Standard+TT&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  &-logo {
    font-family: "Fira Sans", sans-serif;
    font-size: 30px;
  }

  &-list {
    display: flex;
  }
  &-item {
    font-family: "Bebas Neue", sans-serif;
    margin: 12px;
    padding-left: 1rem;
  }
}
