@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans:wght@700&family=Old+Standard+TT&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;

    &-logo {
        font-family: 'Fira Sans', sans-serif;
        font-size: 35px;
    }

    &-list {
        display: flex;
        list-style: none;

        .navbar-item {
            font-family: 'Bebas Neue', sans-serif;
            margin: 12px;
            padding-left: 1rem;
        }
    }
}
